# Required fields
bookmarksync.targetconnector=Shaarli
bookmarksync.sourceconnectors=Standardnotes,Reddit,Wallabag
# Semi-Optional, if you want to use a connector, you need all fields belonging to it
wallabag.url=myurl
wallabag.username=myusername
wallabag.password=mypassword
wallabag.clientid=myclientid
wallabag.clientsecret=myclientsecret
shaarli.url=myurl
shaarli.secret=mysecret
standardnotes.url=myurl
standardnotes.email=myemail
standardnotes.serverkey=sk
standardnotes.masterkey=mk
standardnotes.authkey=ak
reddit.url=https://www.reddit.com/
reddit.oauthurl=https://oauth.reddit.com/
reddit.usernmae=myusername
reddit.password=mypassword
reddit.clientid=myclientid
reddit.clientsecret=myclientsecret